footer {
    background: linear-gradient(#321a44, #4b008400);
    color: white;
    padding: 20px 0;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
 
footer a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
 
.logo {
    max-width: 80px;
    border-radius: 100px;
}

.home {
    max-width: 30px;
    border-radius: 100px;
}

nav {
    background: linear-gradient(#321a44, #4b008400);
}

main {
    background-color: rgba(0, 255, 0, 0.15);
}

.imagemBG {
    display: flex;
    position: fixed;
    right: 0;
    height: 83vh;
}

.texto {
    height: 83vh;   
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #c3c4c5e0; 
    overflow-y: scroll;
    text-align: justify;
    
}

.texto::-webkit-scrollbar {
    width: 10px;
    background-color: #c3c4c5e0;
    border-radius: 20px;
    border: 3px solid #c3c4c5e0;
} 

.texto::-webkit-scrollbar:hover {
    width: 15px;
    background-color: #c3c4c5e0;
    border-radius: 20px;
    border: 3px solid #c3c4c5e0;
} 

.texto::-webkit-scrollbar-thumb {
    background: #6b6b6be0;
    border-radius: 20px;
    border: 3px solid #bbbbbbe0;
} 

.texto:hover::-webkit-scrollbar-thumb {
    width: 15px;
    background: #6b6b6be0;
    border-radius: 20px;
    border: 3px solid #bbbbbbe0;
}

.imgCarousel{
    width: 50%;
}

.fundoCarousel{
    background-color: #c3c4c5e0; 
}

.textoCarousel{
    margin-left: 40px;
}

.carousel{
    padding: 12vh 0 12vh;
}

.active{
    display: flex !important;
}

h5{
    text-align: center;
}