footer {
    background: linear-gradient(#321a44, #4b008400);
    color: white;
    padding: 20px 0;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
 
footer a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
 
.logo {
    max-width: 80px;
    border-radius: 100px;
}

.home {
    max-width: 30px;
    border-radius: 100px;
}

nav {
    background: linear-gradient(#321a44, #4b008400);
}

main {
    background-color: rgba(0, 255, 0, 0.15);
}

.imagemBG {
    display: flex;
    position: fixed;
    right: 0;
    height: 68vh;
}

.texto {
    height: 68vh;   
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #c3c4c5e0; 
    overflow-y: scroll;
    text-align: justify;
    
}



/* @media screen and (min-width: 0) {
    .texto {
        height: calc(100vh - 266px);
    }
    .imagemBG {
        height: calc(100vh - 266px);
    
    }
}

@media screen and (min-width: 768px) {
    .texto {
        height: calc(100vh - 176px);
    }
    .imagemBG {
        height: calc(100vh - 176px);
        width: calc(100% - 176px);
    
    }
}

@media screen and (min-width: 992px) {
    .texto {
        height: calc(100vh - 170px);
        width: calc(100% - 170px);
    }
    .imagemBG {
        height: calc(80%);
        width: 100%
    
    }
} */

